---
layout: maincs
title: KRKAL Screenshoty
lang: cs
submenu: krkal2
---
<h1>Screenshoty</h1>

{% capture numrows %}{{site.data.k2screenshots.size | minus:1 | divided_by:4 }}{% endcapture %}

<table cellspacing="2" cellpadding="4" border="0" class="center">

    {% for rowPos in (0..numrows) %}

		<tr class="thumb">

		{% for colPos in (0..3) %}

			{% assign pos == rowPos | times:4 | plus:colPos %}
			<td>
					<a href="/img/galerie/img/{{site.data.k2screenshots[pos].name}}" class="im">
					<img src="/img/galerie/thumb/{{site.data.k2screenshots[pos].thumb}}" alt="{{site.data.k2screenshots[pos].cs}}" />
					</a>
			<br/>
				{{pos}}
				{{site.data.k2screenshots.size}}
            </td>

		{% endfor %}
		
		</tr>

	{% endfor %}

</table>