---
layout: default
---
<div id="nav">
	<div id="nav2">
		<div class="navcontainer">
			<ul>
				<li><a href="/en/">Index</a></li>
				<li><a href="/en/krkal2.html">Krkal 2</a></li>
		
			{% if page.submenu == 'krkal2' %}
			</ul>
			<div class="navcontainer2">
				<ul>
					<li><a href="/en/k2screenshots.html">Screenshots</a></li>
					<li><a href="/en/k2objects.html">Game Objekts</a></li>
					<li><a href="/en/k2controls.html">Controls</a></li>
				</ul>
			</div>
			<ul>
			{% endif %}
		
				<li><a href="/en/download.html">Download</a></li>
		
			{% if page.submenu == 'download' %}
			</ul>
			<div class="navcontainer2">
				<ul>
					<li><a href="/en/k2verHistory.html">Version History</a></li>
				</ul>
			</div>
			<ul>
			{% endif %}
		
				<li><a href="/en/news.html">News</a></li>
				<li class="navbreak"></li>
				<li><a href="/en/krkal1.html">Krkal 1</a></li>
				<li><a href="/en/krkal3.html">Krkal 3</a></li>
				<li><a href="/en/team.html">KRKALteam</a></li>
			</ul>
		</div>
		<div id="langselect">
			<a href="/cs/{{ page.name }}" class="im"><img src="/img/flagCZ.gif" alt="cz" width="22" height="13" /></a>
			<a href="/en/{{ page.name }}" class="im"><img src="/img/flagEN.gif" alt="en" width="22" height="13" /></a>
		</div>
					
		<!--<?include("site/mmscreenshots.php");?>-->
					
	</div>
</div>

<div id="content">
        
  {{ content }}
        
</div>
	
