---
layout: default
---
<div id="nav">
	<div id="nav2">
		<div class="navcontainer">
			<ul>
				<li><a href="/cs/">Index</a></li>
				<li><a href="/cs/krkal2.html">Krkal 2</a></li>
		
			{% if page.submenu == 'krkal2' %}
			</ul>
			<div class="navcontainer2">
				<ul>
					<li><a href="/cs/k2screenshots.html">Screenshoty</a></li>
					<li><a href="/cs/k2objects.html">Herní objekty</a></li>
					<li><a href="/cs/k2controls.html">Ovládání</a></li>
				</ul>
			</div>
			<ul>
			{% endif %}
		
				<li><a href="/cs/download.html">Stáhnout</a></li>
		
			{% if page.submenu == 'download' %}
			</ul>
			<div class="navcontainer2">
				<ul>
					<li><a href="/cs/k2verHistory.html">Historie změn</a></li>
				</ul>
			</div>
			<ul>
			{% endif %}
		
				<li><a href="/cs/news.html">Novinky</a></li>
				<li class="navbreak"></li>
				<li><a href="/cs/krkal1.html">Krkal 1</a></li>
				<li><a href="/cs/krkal3.html">Krkal 3</a></li>
				<li><a href="/cs/team.html">KRKALteam</a></li>
			</ul>
		</div>
		<div id="langselect">
			<a href="/cs/{{ page.name }}" class="im"><img src="/img/flagCZ.gif" alt="cz" width="22" height="13" /></a>
			<a href="/en/{{ page.name }}" class="im"><img src="/img/flagEN.gif" alt="en" width="22" height="13" /></a>
		</div>
					
		<!--<?include("site/mmscreenshots.php");?>-->
					
	</div>
</div>

<div id="content">
        
  {{ content }}
        
</div>
	
