---
layout: default
---
<div id="nav">
	<div id="nav2">
		<div class="navcontainer">
      <ul>
        <li>
          <a href="/bla">bla</a>
        </li>
        <li>
          <a href="/bla2">bla2</a>
        </li>
        <li>
          <a href="/bla2" class="active">bla2</a>
        </li>
      </ul>
      <div class="navcontainer2">
        <ul>
          <li>
            <a href="/bla2">bla2</a>
          </li>
          <li>
            <a href="/bla2" class="active">bla2</a>
          </li>
        </ul>
      </div>
      <ul>
        <li class="navbreak"></li>
        <li>
          <a href="/bla2">bla2</a>
        </li>
			</ul>
		</div>
		<div id="langselect">
			<a href="/langCz" class="im"><img src="/img/flagCZ.gif" alt="cz" width="22" height="13" /></a>
			<a href="/langEn" class="im"><img src="/img/flagEN.gif" alt="en" width="22" height="13" /></a>
		</div>
					
		<!--<?include("site/mmscreenshots.php");?>-->
					
	</div>
</div>

<div id="content">
        
  {{ content }}
        
</div>
	
