---
layout: default
---
<div id="nav">
	<div id="nav2">
		<div class="navcontainer">
			<ul>
			    {% include mics.html id='' name='Index' %}
				{% include mics.html id='download' name='Stáhnout' %}

			{% if page.submenu == 'download' %}
			</ul>
			<div class="navcontainer2">
				<ul>
     				{% include mics.html id='k2verHistory' name='Historie změn' %}
				</ul>
			</div>
			<ul>
			{% endif %}

  				{% include mics.html id='news' name='Novinky' %}

				<li class="navbreak"></li>
  				{% include mics.html id='krkal1' name='Krkal 1' %}
  				{% include mics.html id='krkal2' name='Krkal 2' %}
		
			{% if page.submenu == 'krkal2' %}
			</ul>
			<div class="navcontainer2">
				<ul>
     				{% include mics.html id='k2screenshots' name='Screenshoty' %}
     				{% include mics.html id='k2objects' name='Herní objekty' %}
     				{% include mics.html id='k2controls' name='Ovládání' %}
				</ul>
			</div>
			<ul>
			{% endif %}
		
  				{% include mics.html id='krkal3' name='Krkal 3' %}

				<li class="navbreak"></li>
  				{% include mics.html id='team' name='KRKALteam' %}
			</ul>
		</div>
		<div id="langselect">
			<a href="/cs/{{ page.name }}" class="im"><img src="/img/flagCZ.gif" alt="cz" width="22" height="13" /></a>
			<a href="/en/{{ page.name }}" class="im"><img src="/img/flagEN.gif" alt="en" width="22" height="13" /></a>
		</div>
					
		<!--<?include("site/mmscreenshots.php");?>-->
					
	</div>
</div>

<div id="content">
        
  {{ content }}
        
</div>
	
